<section class="boilerplate">
  <h1>Using This Report</h1>
  <h2>What this report does</h2>
  <p>This report provides the most recently available observed data and, where observed data are
  not available, uses base-year modeled data. It aims to provide rich, quantitative contextual
  information about each project to aid reviewers in deciding which projects most align with
  program goals.</p>
  <p>For example, if a sponsor states that a project's goal is to reduce congestion, the report
  provides data on how congested the project corridor is under current conditions along with
  expected job and housing growth in the corridor. Such data, along with any supplemental
  application narrative provided by the sponsor, are provided to help reviewers decide if the
  project has potential to be an effective congestion reduction tool.</p>
  <h2>What this report does NOT do</h2>
  <p>This report does not in any way model the effects that the proposed project would have if it
  were built. Any future-year data shown is based on SACOG's travel demand model and MTP-SCS land
  use forecast and does not necessarily factor in the effects of the proposed project.</p>
  <p>Future-year data are included to show how well the project aligns with the MTP's vision of
  the project area, but not to show the effects that the project itself will have. For example,
  the future-year population and job growth around a road capacity project answers the question
  "how many people is this road expected to serve in the future?", not "how much growth will this
  road project cause?".</p>
  <p>Similarly, for performance outcomes like safety or congestion reduction, the report tells the
  reviewer if there currently is a problem with congestion or safety (e.g., high collision rate),
  but it does not say whether the proposed project will improve the issue, e.g., it won't say
  whether widening a congested segment will reduce its congestion, nor will it say whether a
  proposed safety project will address the root cause of the safety issue.</p>
</section>
